<?xml version="1.0"?>
<!--
  For more information on how to configure your ASP.NET application, please visit
  http://go.microsoft.com/fwlink/?LinkId=169433
  -->
<configuration>
  
  <appSettings>
      <add key="ValidationSettings:UnobtrusiveValidationMode" value="None" />
    </appSettings>
  
  <connectionStrings>
    
    <add name="ConnString2DB" connectionString="Data Source=MUM-ANS-TLD250\SQLEXPRESS;Initial Catalog=CompliantsDB;Integrated Security=True;Max Pool Size = 100; Min Pool Size = 10" providerName="System.Data.SqlClient"/>
  </connectionStrings>
  <system.web>
     <authorization>
      <deny users = "?" />

      <!-- This denies access to the Anonymous user -->
      <allow users ="*" />

      <!-- This allows access to all users -->
    </authorization>
    <!--<identity impersonate="true"/>-->
      <authentication mode="Windows"></authentication>
        <!--<authentication mode="Forms">
       <forms name=".ASPXFORMSAUTH" loginUrl="~/LoginCheck.aspx" defaultUrl="~/LoginCheck.aspx" timeout="20" requireSSL="false"/>
    </authentication>-->
   <customErrors mode="Off"/>
    <compilation debug="true" targetFramework="4.5">
      <assemblies>
        <add assembly="System.Design, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B03F5F7F11D50A3A"/>
        <add assembly="System.Web.Extensions.Design, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35"/>
        <add assembly="System.Windows.Forms, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B77A5C561934E089"/>
      </assemblies>
    </compilation>
    <httpRuntime targetFramework="4.5" maxRequestLength="51200" executionTimeout="3600" maxUrlLength="300"/>
   <sessionState mode="InProc" cookieless="true" timeout="60" />
  </system.web>
</configuration>